body 
{
	padding-top:15px;
	/*
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;*/
}

.customDiv
{
    margin:10px;
    min-height:50px;
    background-color:silver;
    text-align:center;
    font-size:large;
    padding:10px;
}
.jumbotron
{
	margin-left: 15px;
}

.legend.scheduler-border {
    width:inherit; /* Or auto */
    padding:0 10px; /* To give a bit of padding on the left and right */
    border-bottom:none;
}
textarea {
    max-width: 600px;
}

.image_true
{
	border-style: none;
	background-position: center;
	margin: 0px;
	display: inline-block; /*padding: 8px 0px 1px 0px;
	text-decoration: none;
	white-space: nowrap;
	font-size: small;*/
	width: 25px;
	height: 25px;
	background-image: url('../Images/Check_Round.png');
	background-repeat: no-repeat;
	background-attachment: inherit;
}