@*@model SIAWeb.Models.GateQuestions*@

@{
    ViewBag.Title = "_GateQ";
    Layout = "~/Views/Shared/_Alternate2.cshtml";
}

<h3>Answer a question to access person search</h3>
<br />
<h5 style="color:#CCCCCC">@Html.Raw(ViewBag.InfoToUser)</h5>

@*@Html.DisplayFor(modelItem => Model.Question)*@