@model SIAWeb.Models.PersonBasic

<div class="col-md-4">
             <div class="portlet light profile-sidebar-portlet bordered">
                 <div class="profile-userpic">
                     @{
                         string sap = Model.SAP;
                         
                         string newSAP = sap.Substring(sap.Length - 6, 6);


                         var picURL = "";
                         
                         string str = Model.PicURL;
                         if (str != null)
                         {
                             Char charRange1 = 'E';

                             int stratIndex = str.IndexOf(charRange1);

                             string substring = str.Substring(stratIndex);

                             picURL = "http://wppswebprod/Booking/" + substring;
                             
                         }
                         
                         var url = "http://wppswebprod/FileShare/Images/" + newSAP + ".png";
                         
                         if (picURL.Length > 10)
                         {
                             url = picURL;
                         }
                         
                         
                         
                         HttpWebResponse response = null;
                         var request = (HttpWebRequest)WebRequest.Create(url);
                         request.Method = "HEAD";

                         try
                         {
                             response = (HttpWebResponse)request.GetResponse();
                         }
                         catch (WebException ex)
                         {
                             url = "~/Images/Male.png";
                             /* A WebException will be thrown if the status of the response is not `200 OK` */
                         }
                         finally
                         {
                             // Don't forget to close your response.
                             if (response != null)
                             {
                                 response.Close();
                             }
                         }
                    
                         <img src="@Url.Content(url)" class="img-responsive" alt="">
                     }
                 </div>
                 <div class="profile-usertitle">
                     @{
                         if (!String.IsNullOrEmpty(Model.Badge))
                       {
                           string person = string.Format("{0} {1} #{2}", Model.First, Model.Last, Model.Badge);
                         <div class="profile-usertitle-name">
                             @Html.Raw(person.ToUpper())
                         </div>
                     }
                     else
                     {
                         string person = string.Format("{0} {1}", Model.First, Model.Last);
                         <div class="profile-usertitle-name">
                             @Html.Raw(person.ToUpper())
                         </div>
                     }               
                     }
                     <div class="profile-usertitle-job">
                         @Html.Raw(Model.JobTitle.ToUpper())
                     </div>
                 </div>

               
                 <div class="profile-usermenu">
                     <ul class="nav">
                         <li class="active"><a href="#"><i class="icon-home"></i>Work Profile </a>
                         </li>
                         <li><a href="#"><i class="icon-settings"></i>Personal Profile</a> </li>
                         
                     </ul>
                 </div>
             </div>
         </div>