@{
    ViewBag.Title = "Admin";
    Layout = "~/Views/Shared/_Alternate.cshtml";
}

<div class="container">
    
        <div style="padding-bottom:10px;padding-left:50px">
            <h4>Admin <small>Switchboard</small></h4>
        </div>
  
    <div class="row">
        <div class="col-lg-2 col-lg-offset-1 col-md-4 col-sm-4 col-xs-12">
            <a style="width:200px; border-color:Black" class="btn btn-lg btn-primary" href="~/SOP/Index">
            <i class="fa fa-pencil-square-o fa-2x pull-left"></i> SOP Shell<br><span style="font-size:small">Create | Edit | Delete</span></a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 col-md-4 col-sm-4 col-xs-12">
            <a style="width:200px; border-color:Black" class="btn btn-lg btn-primary" href="~/DocHist/Index">
            <i class="fa fa-pencil-square-o fa-2x pull-left"></i>SOP Document<br><span style="font-size:small">Upload | Edit</span></a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 col-md-4 col-sm-4 col-xs-12">
            <a style="width:200px; border-color:Black" class="btn btn-lg btn-primary" href="~/DocHist/Search">
            <i class="fa fa-search fa-2x pull-left"></i>Search All SOP's<br><span style="font-size:small">find | View</span></a>
        </div>
    </div>
</div>
