@{
    ViewBag.Title = "Contact";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<section class="contact">
    <header>
        <h3>Phone</h3>
    </header>
    <p>
        <span class="label">Office:</span>
        <span>210-207-7394</span>
    </p>
    <p>
        <span class="label">After Hours:</span>
        <span>210-207-7273</span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Email</h3>
    </header>
<p>
        <span class="label"><h4>SOP Admin:</h4> Sgt. Patrick Robertson #3333</span>
        <span><a href="mailto:Patrick.Robertson@sanantonio.gov"><br />Patrick.Robertson@sanantonio.gov</a></span>
    </p>
    <br />
    <p>
        <span class="label"><h4>Support:</h4> Officer Douglas Davidson #1341</span>
        <span><a href="mailto:Support@example.com"><br />Support@example.com</a></span>
    </p>
   @* <p>
        <span class="label">Marketing:</span>
        <span><a href="mailto:Marketing@example.com">Marketing@example.com</a></span>
    </p>*@
    
</section>

<section class="contact">
    <header>
        <h3>Address</h3>
    </header>
    <p>
        315 S Santa Rosa Ave, <br />
        San Antonio, TX 78207
    </p>
</section>