@{
    ViewBag.Title = "Contact";
}

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="well well-sm">
                <div class="row">
                    <div class="col-sm-6 col-md-4">
                        <img src="~/Images/Male.png" alt="" class="img-rounded img-responsive" />
                    </div>
                    <div class="col-sm-6 col-md-8">
                        <h4 class="media-heading">
                            Sgt. Patrick Robertson <small>SAPD</small></h4>
                        <h5>
                            Big Cheese at <a href="#"> Quality Assurance (CQA)</a></h5>
                        <hr style="margin: 8px auto">
                        <p>
                            <i class="fa fa-envelope-o"></i> Patrick.Robertson@sanantonio.gov
                            <br />
                            <i class="fa fa-globe"></i><a href="http://pdapps-web-d02/siaweb/Landing.aspx"> SOP Web</a>
                            <br />
                            <abbr title="Office Phone">
                                <i class="fa fa-phone"></i>
                            </abbr> 
                            210-207-7394
                            <br />
                            <abbr title="Mobile Phone">
                                <i class="fa fa-phone"></i>
                            </abbr> 
                            Unknown
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


