@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                The San Antonio Police Department’s SOP Web shall provide the Department’s members with quick access to department unit standard operating procedures to promote the safety of officers and citizens of the City of San Antonio.
            </p>
        </div>
    </section>
}
<h3>We suggest the following:</h3>
<ol class="round">
    <li class="one">
        <h5>Getting Started</h5>
        Use the power of the SOP Web search if you not sure witch standard operating procedures you are looking for.
    </li>

    <li class="two">
        <h5>Jump stright to the SOP</h5>
       Use the SOP list to open specific standard operating procedures.
    </li>

    <li class="three">
        <h5>Administrator Page</h5>
        The Administrators page gives the application administrators the ability to upload new SOP’s, change SOP categories and find past SOP’s.
    </li>
</ol>
