@{
    ViewBag.Title = "SOP Web";
}
@ViewBag.Message
<div class="container">
    
    <div class="row">
        <div class="col-lg-5 col-lg-offset-1 col-md-6 col-sm-6 col-xs-12">
            <div id="accordion" class="panel-group">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <i class="fa fa-angle-double-down">
                            </i><a href="#panelBodyOne" data-toggle="collapse"  data-parent="#accordion">
                                Chief Of Police </a>
                        </h4>
                    </div>
                    <div id="panelBodyOne" class="panel-collapse collapse">
                        <div class="panel-body">
                            <ul>
                                <li>India</li>
                                <li>China</li>
                                <li>Japan</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-5 col-md-6 col-sm-6 col-xs-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <span class="glyphicon glyphicon-menu-down"></span><a href="#panelBodyFour" data-toggle="collapse"
                            data-parent="#accordion">Asia </a>
                    </h4>
                </div>
                <div id="panelBodyFour" class="panel-collapse collapse">
                    <div class="panel-body">
                        <ul>
                            <li>India</li>
                            <li>China</li>
                            <li>Japan</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {

            $('.collapse').on('shown.bs.collapse', function () {
                $(this).parent().find('.fa-angle-double-down')
                                .removeClass('fa-angle-double-down')
                                .addClass('fa-angle-double-up');
            }).on('hidden.bs.collapse', function () {
                $(this).parent().find(".fa-angle-double-up")
                                .removeClass("fa-angle-double-up")
                                .addClass("fa-angle-double-down");
            });

        });

    </script>
}
