@{
    ViewBag.Title = "Info";
    Layout = "~/Views/Shared/_Alternate.cshtml";
}

@*<h2>SOP Web Information</h2>*@
<a name="linktotop"></a>

<div id="nav" class="clearfix">
	<a href="#headline1" class="btn btn-warning btn-sm">Google Issues </a>
	<a href="#headline2" class="btn btn-warning btn-sm">Site Problems</a>
	@*<a href="#headline3">3</a>
	<a href="#headline4">4</a>*@
</div>


<div class="section">
	<h1><a name="headline1">Google Chrome Issues</a></h1>
	<p>At this time links on the SOP web site <span style="color: #FF00FF">do not open when using Google Chrome</span>. To open an SOP link from the Home page or from the search page you must use IE9 or higher. We are working to correct the problem.  </p>
</div>

<div class="section">
    <h1>
        <a name="headline2">Site Problems</a></h1>
    <p>
        Problems with <span style="color: #FF00FF">missing or incomplete</span> SOP’s please <a href="~/Home/Contact">CLICK HERE</a> for contact information.
    </p>
    <p>
        If you are experiencing issues with the SOP Web application contact:
    </p>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="well well-sm">
                    <div class="row">
                        <div class="col-sm-6 col-md-3">
                            <img src="~/Images/Male.png" alt="" class="img-rounded img-responsive" />
                        </div>
                        <div class="col-sm-6 col-md-9">
                            <h4 class="media-heading">
                                Ofc. Douglas Davidson #1341 <small>SAPD</small></h4>
                            <h5>
                                <a href="#">Chief's Tech Team (CTT)</a></h5>
                            <hr style="margin: 8px auto">
                            <p>
                                <i class="fa fa-envelope-o"></i>douglas.davidson@sanantonio.gov
                                <br />
                                <i class="fa fa-globe"></i><a href="http://pdapps-web-d02/siaweb/Landing.aspx">SOP Web</a>
                                <br />
                                <abbr title="Office Phone">
                                    <i class="fa fa-phone"></i>
                                </abbr>
                                210-207-8693
                                <br />
                                <abbr title="Mobile Phone">
                                    <i class="fa fa-phone"></i>
                                </abbr>
                                210-422-7296
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="well well-sm">
                    <div class="row">
                        <div class="col-sm-6 col-md-3">
                            <img src="~/Images/Male.png" alt="" class="img-rounded img-responsive" />
                        </div>
                        <div class="col-sm-6 col-md-9">
                            <h4 class="media-heading">
                                Mr. John Riojas <small>SAPD</small></h4>
                            <h5>
                                <a href="#">Strategic Intelligence & Analytics (FIA)</a></h5>
                            <hr style="margin: 8px auto">
                            <p>
                                <i class="fa fa-envelope-o"></i> John.Riojas@sanantonio.gov
                                <br />
                                <i class="fa fa-globe"></i><a href="http://pdapps-web-d02/siaweb/Landing.aspx">SOP Web</a>
                                <br />
                                <abbr title="Office Phone">
                                    <i class="fa fa-phone"></i>
                                </abbr> 
                                210-207-7539
                                <br />
                                <abbr title="Mobile Phone">
                                    <i class="fa fa-phone"></i>
                                </abbr> 
                                210-379-2973
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <p>
        <span style="color: #FF00FF">ITSD or 8888 will not be able to assist with site problems.<span /></p>
</div>

@*<div class="section">
	<h1><a name="headline3">Headline Three</a></h1>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas luctus imperdiet velit, quis dapibus orci pharetra id. Nullam laoreet eget turpis vel sodales. Cras sagittis sapien in ipsum consequat, a elementum libero tristique. Integer sem magna, ullamcorper ac nibh quis, mattis molestie neque. Maecenas nec mi lacus. Quisque vitae sem diam. In elementum ac justo a dictum. Sed dictum metus a mattis ornare. Suspendisse tortor risus, suscipit efficitur nunc eu, pharetra imperdiet eros. Pellentesque laoreet nisi sed diam fringilla suscipit. Sed eros metus, cursus eu lacus quis, convallis blandit nibh. Proin condimentum, purus malesuada vulputate venenatis, risus quam scelerisque ante, in facilisis orci arcu at sem. Quisque eget eros lorem.

Aenean ultrices, tellus eu pellentesque ultrices, augue arcu convallis magna, eu volutpat nibh ex vitae nisi. Phasellus rutrum velit sit amet tortor pretium, quis molestie diam accumsan. Duis dignissim, ipsum et lobortis cursus, erat urna aliquet nisi, quis feugiat erat elit sed dui. Vestibulum aliquam erat sit amet arcu malesuada, a suscipit urna tristique. Maecenas vel suscipit metus, id porttitor risus. Mauris viverra mollis bibendum. Morbi nec ipsum et felis dictum pharetra nec nec turpis. Sed ligula massa, aliquet ac luctus at, porttitor ac diam. Nulla at nisi ante. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Phasellus vel egestas dolor. Aliquam non scelerisque justo. Donec volutpat turpis feugiat auctor condimentum. Fusce tristique velit ut tempor tincidunt.

Cras finibus quam vitae erat mollis, efficitur venenatis purus interdum. Morbi porttitor viverra lacus, et euismod lorem pulvinar in. Aenean sagittis aliquam laoreet. Suspendisse potenti. Donec viverra nisi nec nisl hendrerit, vel ultrices lectus venenatis. Duis posuere aliquam odio ut dapibus. Praesent malesuada varius vestibulum. Duis sit amet auctor magna. Praesent ligula dui, commodo et ligula sagittis, elementum blandit nibh.

Vivamus posuere blandit sapien. Pellentesque euismod dui eros, in dictum dolor rhoncus ac. Proin cursus quis nisl auctor eleifend. Mauris ullamcorper consectetur tincidunt. Nulla facilisi. Phasellus nisi arcu, ullamcorper vitae auctor iaculis, pellentesque eget ligula. Nam mollis efficitur elit vel sollicitudin. Vestibulum a luctus urna. In accumsan dui ligula, sit amet sodales est scelerisque et. Mauris auctor vestibulum mauris, sit amet pretium erat tristique a. Vestibulum nunc ipsum, imperdiet quis justo vitae, molestie tristique mi.

In imperdiet eget ligula non volutpat. Proin non metus eleifend orci elementum blandit. Ut vel varius nunc. Fusce vitae ante facilisis, tempus risus at, malesuada sapien. Maecenas feugiat, tellus non finibus auctor, tellus elit tristique felis, quis consequat lacus lorem vel quam. Maecenas porta arcu leo, vel auctor sapien convallis ac. Cras congue mollis ipsum quis aliquet. Vestibulum sed felis a metus convallis dictum eu quis mi. Vestibulum rhoncus arcu vitae egestas congue. Praesent et pulvinar sem. Fusce luctus, ex faucibus tincidunt finibus, massa ante ultricies lorem, sed sagittis odio dolor sed tellus. Proin facilisis fringilla sagittis. Suspendisse lacinia, odio vestibulum elementum laoreet, ex urna mollis arcu, eget porta leo massa id mi. Nullam vel porta sem. Cras semper nec diam et fringilla. Mauris in orci lorem.</p>
</div>

<div class="section">
	<h1><a name="headline4">Headline Four</a></h1>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas luctus imperdiet velit, quis dapibus orci pharetra id. Nullam laoreet eget turpis vel sodales. Cras sagittis sapien in ipsum consequat, a elementum libero tristique. Integer sem magna, ullamcorper ac nibh quis, mattis molestie neque. Maecenas nec mi lacus. Quisque vitae sem diam. In elementum ac justo a dictum. Sed dictum metus a mattis ornare. Suspendisse tortor risus, suscipit efficitur nunc eu, pharetra imperdiet eros. Pellentesque laoreet nisi sed diam fringilla suscipit. Sed eros metus, cursus eu lacus quis, convallis blandit nibh. Proin condimentum, purus malesuada vulputate venenatis, risus quam scelerisque ante, in facilisis orci arcu at sem. Quisque eget eros lorem.

Aenean ultrices, tellus eu pellentesque ultrices, augue arcu convallis magna, eu volutpat nibh ex vitae nisi. Phasellus rutrum velit sit amet tortor pretium, quis molestie diam accumsan. Duis dignissim, ipsum et lobortis cursus, erat urna aliquet nisi, quis feugiat erat elit sed dui. Vestibulum aliquam erat sit amet arcu malesuada, a suscipit urna tristique. Maecenas vel suscipit metus, id porttitor risus. Mauris viverra mollis bibendum. Morbi nec ipsum et felis dictum pharetra nec nec turpis. Sed ligula massa, aliquet ac luctus at, porttitor ac diam. Nulla at nisi ante. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Phasellus vel egestas dolor. Aliquam non scelerisque justo. Donec volutpat turpis feugiat auctor condimentum. Fusce tristique velit ut tempor tincidunt.

Cras finibus quam vitae erat mollis, efficitur venenatis purus interdum. Morbi porttitor viverra lacus, et euismod lorem pulvinar in. Aenean sagittis aliquam laoreet. Suspendisse potenti. Donec viverra nisi nec nisl hendrerit, vel ultrices lectus venenatis. Duis posuere aliquam odio ut dapibus. Praesent malesuada varius vestibulum. Duis sit amet auctor magna. Praesent ligula dui, commodo et ligula sagittis, elementum blandit nibh.

Vivamus posuere blandit sapien. Pellentesque euismod dui eros, in dictum dolor rhoncus ac. Proin cursus quis nisl auctor eleifend. Mauris ullamcorper consectetur tincidunt. Nulla facilisi. Phasellus nisi arcu, ullamcorper vitae auctor iaculis, pellentesque eget ligula. Nam mollis efficitur elit vel sollicitudin. Vestibulum a luctus urna. In accumsan dui ligula, sit amet sodales est scelerisque et. Mauris auctor vestibulum mauris, sit amet pretium erat tristique a. Vestibulum nunc ipsum, imperdiet quis justo vitae, molestie tristique mi.

In imperdiet eget ligula non volutpat. Proin non metus eleifend orci elementum blandit. Ut vel varius nunc. Fusce vitae ante facilisis, tempus risus at, malesuada sapien. Maecenas feugiat, tellus non finibus auctor, tellus elit tristique felis, quis consequat lacus lorem vel quam. Maecenas porta arcu leo, vel auctor sapien convallis ac. Cras congue mollis ipsum quis aliquet. Vestibulum sed felis a metus convallis dictum eu quis mi. Vestibulum rhoncus arcu vitae egestas congue. Praesent et pulvinar sem. Fusce luctus, ex faucibus tincidunt finibus, massa ante ultricies lorem, sed sagittis odio dolor sed tellus. Proin facilisis fringilla sagittis. Suspendisse lacinia, odio vestibulum elementum laoreet, ex urna mollis arcu, eget porta leo massa id mi. Nullam vel porta sem. Cras semper nec diam et fringilla. Mauris in orci lorem.</p>
</div>
*@

@*<a href="#linktotop">Back to the Top</a>*@