
<div class="row">
    <div class="col-md-12">
        <strong style="font-size: 2.1em; padding-left: 2px">
            <span style="color:goldenrod">SAPD Recognition</span><span style="font-size:.6em"> Link Page</span>
        </strong>
    </div>
</div>
<br />