
@* Used on the landing page as a switch board to go to the award category search page *@

<div class="col-md-3 col-lg-3">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title"><span style="color:goldenrod">Search Award Categories</span></h3>
        </div>
        <div class="panel-body">
            <div class="col-md-2 col-xs-2 col1 center-block">
                <div style="padding-bottom:5px">
                    <a style="width: 205px; border-color: #efa930" class="btn btn-lg btn-primary" href="~/Home/AwardView/?RecType=2">
                        <span style="font-size: 0.9em">MERITS</span>
                    </a>
                </div>
                @*  *@
                <div style="padding-bottom:5px">
                    <a style="width: 205px; border-color: #efa930" class="btn btn-lg btn-primary" href="~/Home/AwardView/?RecType=1">
                        <span style="font-size: 0.9em">COMMENDATION</span>
                    </a>
                </div>

                <div style="padding-bottom:5px">
                    <a style="width: 205px; border-color: #efa930" class="btn btn-lg btn-primary" href="~/Home/AwardView/?RecType=5">
                        <span style="font-size: 0.9em">OF THE MONTH</span>
                    </a>
                </div>

                <div style="padding-bottom:5px">
                    <a style="width: 205px; border-color: #efa930" class="btn btn-lg btn-primary" href="~/Home/AwardView/?RecType=6">
                        <span style="font-size: 0.9em">OAK FARMS</span>
                    </a>
                </div>

                <div style="padding-bottom:5px">
                    <a style="width: 205px; border-color: #efa930" class="btn btn-lg btn-primary" href="~/Home/AwardView/?RecType=4">
                        <span style="font-size: 0.9em">LTR OF APPRECIATION</span>
                    </a>
                </div>

                <div style="padding-bottom:5px">
                    <a style="width: 205px; border-color: #efa930" class="btn btn-lg btn-primary" href="~/Home/AwardView/?RecType=7">
                        <span style="font-size: 0.9em">ENC.O.R.E</span>
                    </a>
                </div>

                <div style="padding-bottom:5px">
                    <a style="width: 205px; border-color: #efa930" class="btn btn-lg btn-primary" href="~/Home/AwardView/?RecType=8">
                        <span style="font-size: 0.9em">ANNUAL AWARDS</span>
                    </a>
                </div>
            </div>

           

        </div>
            
    </div>
</div>
