<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!--<add name="WebLinksEntities" connectionString="metadata=res://*/SIAWebLinksModel.csdl|res://*/SIAWebLinksModel.ssdl|res://*/SIAWebLinksModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=cadsqld01.cad.cosa\psgis1;initial catalog=SAPDActivity;persist security info=True;user id=sapdgis;password=samdev;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="WebLinksEntities" connectionString="metadata=res://*/SIAWebLinksModel.csdl|res://*/SIAWebLinksModel.ssdl|res://*/SIAWebLinksModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\MSSQLLocalDB;initial catalog=SAPDActivity;integrated security=True;user id=sapdgis;password=samdev;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
</configuration>