@model PersonnelBusinessLayer.GroupMember

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Alternate2.cshtml";
}


<div style="padding-left: 5px">
    <h3>
        <span style="color:#2A9FD6">Current</span> <small> Members</small></h3>
</div>
<hr />
<form class="form-horizontal" action="Index">
<div class="Container">
    <div class="row">
        <div class="col-sm-4">
            Members
        </div>

        <div class="col-sm-8">
            Search
        </div>
    </div>
</div>
</form> 

