@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>
    Contact</h2>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="well well-sm">
                <div class="row">
                    <div class="col-sm-6 col-md-4">
                        <img src="~/Images/Male.png" alt="" class="img-rounded img-responsive" />
                    </div>
                    <div class="col-sm-6 col-md-8">
                        <h4 class="media-heading">
                            Sgt. Tonja Brandt <small>SAPD</small></h4>
                        <h5>
                            <a href="#">Reserach & Planning (CBL)</a></h5>
                        <hr style="margin: 8px auto">
                        <p>
                            <i class="fa fa-envelope-o"></i>Tonja.Brandt@sanantonio.gov
                            <br />
                            <i class="fa fa-globe"></i><a href="http://pdapps-web-d02/siaweb/Landing.aspx">SOP Web</a>
                            <br />
                            <abbr title="Office Phone">
                                <i class="fa fa-phone"></i>
                            </abbr>
                            Unknown
                            <br />
                            <abbr title="Mobile Phone">
                                <i class="fa fa-phone"></i>
                            </abbr>
                            Unknown
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="well well-sm">
                <div class="row">
                    <div class="col-sm-6 col-md-4">
                        <img src="~/Images/Male.png" alt="" class="img-rounded img-responsive" />
                    </div>
                    <div class="col-sm-6 col-md-8">
                        <h4 class="media-heading">
                            Ofc. Brent Smith <small>SAPD</small></h4>
                        <h5>
                            <a href="#">Quality Assurance (CQA)</a></h5>
                        <hr style="margin: 8px auto">
                        <p>
                            <i class="fa fa-envelope-o"></i>Brent.Smith@sanantonio.gov
                            <br />
                            <i class="fa fa-globe"></i><a href="http://pdapps-web-d02/siaweb/Landing.aspx">SOP Web</a>
                            <br />
                            <abbr title="Office Phone">
                                <i class="fa fa-phone"></i>
                            </abbr>
                            210-207-7381
                            <br />
                            <abbr title="Mobile Phone">
                                <i class="fa fa-phone"></i>
                            </abbr>
                            Unknown
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
