@{
    ViewBag.Title = "Grant Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>
    Contact</h2>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="well well-sm">
                <div class="row">
                    <div class="col-sm-6 col-md-3">
                        <img src="~/Images/Male.png" alt="" class="img-rounded img-responsive" />
                    </div>
                    <div class="col-sm-6 col-md-9">
                        <h4 class="media-heading">
                            Ofc. Brent Smith #0627 <small>SAPD</small></h4>
                        <h5>
                            <a href="#">TACTICAL SUPPORT (TSC)</a></h5>
                        <hr style="margin: 8px auto">
                        <p>
                            <i class="fa fa-envelope-o"></i> brent.smith@sanantonio.gov
                            <br />
                            <i class="fa fa-globe"></i><a href="http://pdapps-web-d02/sapdweb"> SAPD Web</a>
                            <br />
                            <abbr title=" Office Phone">
                                <i class="fa fa-phone"></i>
                            </abbr>
                            210-207-7381
                            <br />
                            <abbr title=" Mobile Phone">
                                <i class="fa fa-phone"></i>
                            </abbr>
                            Unknown
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="well well-sm">
                    <div class="row">
                        <div class="col-sm-6 col-md-3">
                            <img src="~/Images/Male.png" alt="" class="img-rounded img-responsive" />
                        </div>
                        <div class="col-sm-6 col-md-9">
                            <h4 class="media-heading">
                                Ofc. Douglas Davidson #1341 <small>SAPD</small></h4>
                            <h5>
                                <a href="#">Chief's Tech Team (CTT)</a></h5>
                            <hr style="margin: 8px auto">
                            <p>
                                <i class="fa fa-envelope-o"></i> douglas.davidson@sanantonio.gov
                                <br />
                                <i class="fa fa-globe"></i><a href="http://pdapps-web-d02/sapdweb"> SAPD Web</a>
                                <br />
                                <abbr title="Office Phone">
                                    <i class="fa fa-phone"></i>
                                </abbr>
                                210-207-8693
                                <br />
                                <abbr title="Mobile Phone">
                                    <i class="fa fa-phone"></i>
                                </abbr>
                                210-422-7296
                            </p>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>
