

@{
    ViewBag.Title = "Grant Activity";
}
<div class="container">
    <div style="padding-bottom: 10px">

         @if (ViewBag.User != "Unknown")
            {
            <h4>
                @ViewBag.User<small>, Welcome back </small>
            </h4>
            }
            else
            {
             <h4>
                Welcome<small>, <a href="#">Click to become an SIA Web user</a> </small>
            </h4>
            }

        
        
    </div>
 </div>