<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="PersonnelContext" connectionString="metadata=res://*/PersonnelModel.csdl|res://*/PersonnelModel.ssdl|res://*/PersonnelModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-IFCLF3N;initial catalog=SAPDActivity;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>