<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="PersonnelContext" connectionString="metadata=res://*/PersonnelModel.csdl|res://*/PersonnelModel.ssdl|res://*/PersonnelModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=cadsqld01.cad.cosa\psgis1;Initial Catalog=SAPDActivity;Persist Security Info=True;User ID=sapdgis;Password=samdev;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>