@{
    ViewBag.Title = "Info";
    Layout = "~/Views/Shared/_Alternate.cshtml";
}

@*<h2>SOP Web Information</h2>*@
<a name="linktotop"></a>

<div id="nav" class="clearfix">
	<a href="#headline1" class="btn btn-warning btn-sm">Google Issues </a>
	<a href="#headline2" class="btn btn-warning btn-sm">Site Problems</a>
	
</div>


<div class="section">
	<h1><a name="headline1">Google Chrome Issues</a></h1>
	<p>At this time some links on the SAPD web site <span style="color: #FF00FF">may not open when using Google Chrome</span>. 
    To open an SAPD web link from the Home page must use IE9 or higher. We are working to correct the problem.  </p>
</div>

<div class="section">
    <h1>
        <a name="headline2">Site Problems</a></h1>
    
    <p>
        If you are experiencing issues with the SAPD Web application contact:
    </p>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="well well-sm">
                    <div class="row">
                        <div class="col-sm-6 col-md-3">
                            @{
                                var url = "http://wppswebprod/FileShare/Images/109889.png";
    
                                <img src="@Url.Content(url)" class="img-responsive" alt=""/>
                            }
                            @*<img src="~/Images/Male.png" alt="" class="img-rounded img-responsive" />*@
                        </div>
                        <div class="col-sm-6 col-md-9">
                            <h4 class="media-heading">
                                Ofc. Douglas Davidson #1341 <small>SAPD</small></h4>
                            <h5>
                                <a href="@Url.Action("Index", "Office", new { id = 297 }, null)" >Chief's Tech Team (CTT)</a></h5>
                            <hr style="margin: 8px auto">
                            <p>
                                <i class="fa fa-envelope-o"></i> <a href='mailto:douglas.davidson@sanantonio.gov'>douglas.davidson@sanantonio.gov</a>
                                @*<i class="fa fa-envelope-o"></i>douglas.davidson@sanantonio.gov*@
                                <br />
                                <i class="fa fa-globe"></i><a href="http://pdapps-web-d02/sapdweb">SAPD Web</a>
                                <br />
                                <abbr title="Office Phone">
                                    <i class="fa fa-phone"></i>
                                </abbr>
                                210-207-8693
                                <br />
                                <abbr title="Mobile Phone">
                                    <i class="fa fa-phone"></i>
                                </abbr>
                                210-422-7296
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="well well-sm">
                    <div class="row">
                        <div class="col-sm-6 col-md-3">
                            @{
                                var url1 = "http://wppswebprod/FileShare/Images/106919.png";
                                
                                <img src="@Url.Content(url1)" class="img-responsive" alt=""/>
                            }
                            @*<img src="~/Images/Male.png" alt="" class="img-rounded img-responsive" />*@
                        </div>
                        <div class="col-sm-6 col-md-9">
                            <h4 class="media-heading">
                                Mr. John Riojas <small>SAPD</small></h4>
                            <h5>
                                <a href="#">Strategic Intelligence & Analytics (FIA)</a></h5>
                            <hr style="margin: 8px auto">
                            <p>
                            
                                <i class="fa fa-envelope-o"></i> <a href='mailto:John.Riojas@sanantonio.gov'>John.Riojas@sanantonio.gov</a>
                                @*<i class="fa fa-envelope-o"></i> John.Riojas@sanantonio.gov*@
                                <br />
                                <i class="fa fa-globe"></i><a href="http://pdapps-web-d02/sapdweb">SOP Web</a>
                                <br />
                                <abbr title="Office Phone">
                                    <i class="fa fa-phone"></i>
                                </abbr> 
                                210-207-7539
                                <br />
                                <abbr title="Mobile Phone">
                                    <i class="fa fa-phone"></i>
                                </abbr> 
                                210-379-2973
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <p>
        <span style="color: #FF00FF">ITSD or 8888 will not be able to assist with site problems.<span /></p>
</div>
