@model IEnumerable<IECAWeb.Models.PersonBasic>

@{
    ViewBag.Title = "Officer Audit";
    Layout = "~/Views/Shared/_Alternate.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-12">
            <a href="@Url.Action("Index", "Audit", new { id = (string)System.Web.HttpContext.Current.Session["OfficeID"] })" class="btn btn-warning btn-sm">
                Back To List <i class="fa fa-share" aria-hidden="true"></i></a>
        </div>
        <br />
        <br />
        <div class="col-xs-6 col-md-6 ">
            @foreach (var item in Model)
            {
                @Html.Partial("_PersonBasicInfo", item)
        }
        </div>
        <div class="col-xs-6 col-md-6 ">
        <div class="panel panel-default" style="max-height:219px; min-height:219px">
            <div class="panel-heading">
                Officer Case Audits</div>
            <div class="panel-body">
                <table class="table table-condensed table-hover" >
                <tr>
                    <th>
                        Date
                    </th>
                    <th>
                        Status
                    </th>
                   
                </tr>
               
                    @foreach (var mo in ViewData["OfficerAudits"] as IEnumerable<IECAWeb.Models.Audit>)
                    {
                        System.Text.StringBuilder sb = new System.Text.StringBuilder();
                        sb.Append("<tr><td>");
                        DateTime dtDate = (DateTime)mo.InserDate;
                        string dDate = string.Format("{0} - {1}",dtDate.ToString("MMMM"),dtDate.ToString("yyyy"));
                        //sb.Append("@Html.ActionLink(\" " + dDate + ",null,null,null, new{id =\"supComments\"})");
                        //var link = Html.ActionLink(dDate,null, new {id=mo.IECAID},new {@class="Supnotes"});
                        var link = Html.ActionLink(dDate, "GeneralNotes", "Audit", new { id = mo.IECAID }, new { @class = "myLink", data_id = mo.IECAID });
                        //var link = Html.ActionLink(dDate, null, null, new { id = mo.IECAID }, new { @class = "myLink"});
                        //var link = Html.ActionLink(dDate, null, null, null, new { @class = "myLink", data_id = mo.IECAID });
                        //var link = Html.ActionLink(dDate,null, new{id =mo.IECAID}, new{@class = "myLink, data_id = mo.IECAID"});
                        
                        //sb.Append(dDate);
                        sb.Append(link);
                        sb.Append("</td>");
                        sb.Append("<td>");
                        string approve = (mo.CaseAuditFlag).ToString();

                        if (approve == "True")
                        {
                            sb.Append("<img src=\"/Images/Check32x32.png\" class=\"image_background\"/>");

                        }
                        else if (approve == "False")
                        {
                            sb.Append("<img src=\"/Images/Minus32x32.png\" class=\"image_background\"/>");

                        }
                        else
                        {
                            sb.Append("<img src=\"/Images/Question32x32.png\" class=\"image_background\"/>");

                        }

                        sb.Append("</td></tr>");
                        
                        
                        @Html.Raw(sb);
                    }
                    
                </table>
                </div>
        </div>
        </div>
        
        <div id="genNotes" class="col-xs-12 col-md-12 well well-lg">
            
        </div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">

        $(".myLink").click(function (e) {
            e.preventDefault();
            var id = $(this).data("id");
            $.ajax({
                type: "GET",
                url: "/Audit/GeneralNotes",
                data: { auditId: id },
                success: function (data) {
                    $("#genNotes").html(data);
                },
                error: function () {
                    alert("Something went wrong");
                }
            })
        });

//        $(".myLink").click(function () {
//            var id = $(this).data("id");
//            $.ajax({
//                type: "GET",
//                url: "/Audit/GeneralNotes",
//                data: {auditId: id},
//                success: function (data) {
//                    $("#genNotes").html(data);
//                },
//                error: function () {
//                    alert("Something went wrong");
//                }
//            })
//        });
                        
    </script>
}