@model IEnumerable<IECAWeb.Models.PersonBasic>
@{
    ViewBag.Title = "Officer Audit";
    Layout = "~/Views/Shared/_Alternate.cshtml";
}
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-12">
            <a href="@Url.Action("Index", "Audit", new { id = (string)System.Web.HttpContext.Current.Session["OfficeID"] })" class="btn btn-warning btn-sm">
                Back To List <i class="fa fa-share" aria-hidden="true"></i></a>
                @*<button type="button" class="btn btn-info btn-sm" data-target="#myModalHorizontal" data-toggle="modal">Modal Button</button>*@
                <a href = "javascript:void(0);" class = "getAllEMP" style = "font-size:20pt;" > Get All Employee Information </a> 
        </div>
        <br />
        <br />
        <div class="col-xs-6 col-md-6 ">
            @foreach (var item in Model)
            {
                @Html.Partial("_PersonBasicInfo", item)
            }
        </div>
        <div class="col-xs-6 col-md-6 ">
            <div class="panel panel-default" style="max-height: 219px; min-height: 219px">
                <div class="panel-heading">
                    Officer Case Audits</div>
                <div class="panel-body">
                    <table class="table table-condensed table-hover">
                        <tr>
                            <th>
                                Date
                            </th>
                            <th>
                                Status
                            </th>
                        </tr>
                        @foreach (var mo in ViewData["OfficerAudits"] as IEnumerable<IECAWeb.Models.Audit>)
                        {
                            System.Text.StringBuilder sb = new System.Text.StringBuilder();
                            sb.Append("<tr><td>");
                            DateTime dtDate = (DateTime)mo.InserDate;
                            string dDate = string.Format("{0} - {1}", dtDate.ToString("MMMM"), dtDate.ToString("yyyy"));
                            var link = Html.ActionLink(dDate, "GeneralNotes", "Audit", new { id = mo.IECAID }, new { @class = "myLink", data_id = mo.IECAID });
                            sb.Append(link);
                            sb.Append("</td>");
                            sb.Append("<td>");
                            string approve = (mo.CaseAuditFlag).ToString();

                            if (approve == "True")
                            {
                                sb.Append("<img src=\"/Images/Check32x32.png\" class=\"image_background\"/>");

                            }
                            else if (approve == "False")
                            {
                                sb.Append("<img src=\"/Images/Minus32x32.png\" class=\"image_background\"/>");

                            }
                            else
                            {
                                sb.Append("<img src=\"/Images/Question32x32.png\" class=\"image_background\"/>");

                            }

                            sb.Append("</td><td>");
                            var genNote = Html.ActionLink("Notes", "GeneralQuestion", new { id = mo.IECAID }, new { @class = "editCourseModal", @data_target = "#genQ" });
                            sb.Append(genNote);
                            //sb.Append("<button id= type=\"button\" class=\"btn btn-info btn-xs\" data-toggle=\"modal\" data-target=\"#genQ\">Notes</button>");
                            sb.Append("</td></tr>");    
                        
                        
                            @Html.Raw(sb);
                        }
                    </table>
                </div>
            </div>
        </div>
        <div id="genNotes" class="col-xs-12 col-md-12 well well-lg">
        </div>


        <div id = 'myModal'class = 'modal' style = "text-align:right;"> 
            <div class = "modal-dialog" style = "width:900px; height:400px; padding:10px;"> 
                <div class = "modal-content" style = "overflow: auto; padding:10px; background-color:#d2f5f4;"> 
                    <button type = "button" id = "closbtn"> x </button> 
                    <div style = "height:10px;" > 
                    </div> 
                    <div id = 'myModalContent' style = "width:850px; height:400px; padding:10px;"> 
                    </div> 
                </div> 
            </div>
        </div> 

        @*<div id='myModal' class='modal'>
            <div class="modal-dialog">
                <div class="modal-content">
                    <div id='myModalContent'>
                    </div>
                </div>
            </div>
        </div>   *@

    </div>
    </div>

    
@section scripts
{
    <script type="text/javascript">

        $(".myLink").click(function (e) {
            e.preventDefault();
            var id = $(this).data("id");
            $.ajax({
                type: "GET",
                url: "/Audit/GeneralNotes",
                data: { auditId: id },
                success: function (data) {
                    $("#genNotes").html(data);
                },
                error: function () {
                    alert("Something went wrong");
                }
            })
        });

        $(function () {
            $('.editCourseModal').on("click", function (e) {
                e.preventDefault();
                //perform the url load  then
                $('#genQ').modal({
                    keyboard: true
                }, 'show');
                return false;
            })
        });


        var ajaxCallURL = '/Audit/EmployeePartial'; 
        $(function () {
            $(".getAllEMP").click(function () {
                var $buttonClicked = $(this);
                var options = {
                    "backdrop": "static",
                    keyboard: true
                };
//                $.ajax({
//                    type: "GET",
//                    url: ajaxCallURL,
//                    contentType: "application/json; charset=utf-8",
//                    datatype: "json",
//                    success: function (data) {
//                        debugger;
//                        $('#myModalContent').html(data);
//                        $('#myModal').modal(options);
//                        $('#myModal').modal('show');
//                    },
//                    error: function () {
//                        alert("Content load failed.");
//                    }
//                });
            });
            $("#closbtn").click(function () {
                debugger;
                $('#myModal').modal('hide');
            });
        }); 








//        $(document).ready(function () {
//            $("#btnSubmit").click(function () {
//                var myformdata = $("#frmGenQuestion").serialize();

//                $.ajax({
//                    type: "POST",
//                    url: "/Audit/AddGenNotes",
//                    data: myformdata,
//                    success: function () {

//                        $("#genQ").modal("hide");
//                    }
//                })

//            })

//        })



        //        $(function () {
        //            $("#modal-opener").click(function () {
        //                $("#dialog-modal").dialog("open");
        //            });
        //        });


        //        $(function () {
        //            $("#dialog-modal").dialog({
        //                autoOpen: false,

        //                show: {
        //                    effect: "blind",
        //                    duration: 1000
        //                },
        //                hide: {
        //                    effect: "explode",
        //                    duration: 1000
        //                }

        //            });

        //            $("#modal-opener").click(function () {
        //                $("#dialog-modal").dialog("open");
        //            });
        //        });

        //        $("#myBtn").click(function () {
        //            $("#myModal").modal();
        //        });


        //            $(document).ready(function(){
        //                $('.modal').modal('show');
        //            });


        
                        
    </script>
}
