@{
    ViewBag.Title = "Admin";
    Layout = "~/Views/Shared/_Alternate.cshtml";
}

<div class="container">
    
        <div style="padding-bottom:10px;padding-left:50px">
            <h3>Admin <small>Switchboard</small></h3>
        </div>
  
    <div class="row">
        <div class="col-lg-2 col-lg-offset-1 col-md-4 col-sm-4 col-xs-12">
            <a style="width:250px; border-color:#efa930" class="btn btn-lg btn-primary" href="~/Award/FileUpload">
            <i class="fa fa-pencil-square-o fa-2x pull-left"></i><span style="font-size: 1.6em">Enter New</span> <br><span style="font-size:x-small">Create | Edit </span></a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 col-md-4 col-sm-4 col-xs-12">
            <a style="width:250px; border-color:#efa930" class="btn btn-lg btn-primary" href="~/RecognitionType/Index">
            <i class="fa fa-pencil-square-o fa-2x pull-left"></i><span style="font-size: 1.6em">Recognition</span> <br><span style="font-size:x-small">Create | Edit </span></a>
        </div>
         <div class="col-lg-2 col-lg-offset-1 col-md-4 col-sm-4 col-xs-12">
            <a style="width:250px; border-color:#efa930" class="btn btn-lg btn-primary" href="~/AwardType/Index">
            <i class="fa fa-pencil-square-o fa-2x pull-left"></i><span style="font-size: 1.6em">Award Type</span> <br><span style="font-size:x-small">Create | Edit </span></a>
        </div>
      
    </div>
     <div class="row" style="margin-top: 30px">
         <div class="col-lg-2 col-lg-offset-1 col-md-4 col-sm-4 col-xs-12">
            <a style="width:250px; border-color:#efa930" class="btn btn-lg btn-primary" href="~/Award/Index">
            <i class="fa fa-bars fa-2x pull-left"></i><span style="font-size: 1.2em">Search Recognition</span> <br><span style="font-size:x-small">find | Edit </span></a>
        </div>
        @*<div class="col-lg-2 col-lg-offset-1 col-md-4 col-sm-4 col-xs-12">
            <a style="width:200px; border-color:Black" class="btn btn-lg btn-primary" href="~/SOP/Index">
            <i class="fa fa-pencil-square-o fa-2x pull-left"></i> EnCore<br><span style="font-size:small">Create | Edit </span></a>
        </div>
         <div class="col-lg-2 col-lg-offset-1 col-md-4 col-sm-4 col-xs-12">
            <a style="width:200px; border-color:Black" class="btn btn-lg btn-primary" href="~/SOP/Index">
            <i class="fa fa-pencil-square-o fa-2x pull-left"></i>Letter Of Appreciation<br><span style="font-size:small">Create | Edit </span></a>
        </div>*@
       @* <div class="col-lg-2 col-lg-offset-1 col-md-4 col-sm-4 col-xs-12">
            <a style="width:200px; border-color:Black" class="btn btn-lg btn-primary" href="~/Award/Index">
            <i class="fa fa-search fa-2x pull-left"></i>Search Recognition<br><span style="font-size:small">find | View</span></a>
        </div>*@
    </div>
</div>