@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Alternate.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="well well-sm">
                <div class="row">
                    <div class="col-sm-6 col-md-4">
                        <img src="~/Images/Male.png" alt="" class="img-rounded img-responsive" />
                    </div>
                    <div class="col-sm-6 col-md-8">
                        <h4 class="media-heading">
                            Sgt. Tonja Brandt #3169 <small>SAPD</small></h4>
                        <h5>
                            <a href="#"> DRUG INTERVENTION PROGRAM (CDI)</a></h5>
                        <hr style="margin: 8px auto">
                        <p>
                            <i class="fa fa-envelope-o"></i> Tonja.Brandt@sanantonio.gov
                            <br />
                            <i class="fa fa-globe"></i><a href="http://pdapps-web-d02/Recognition/Home/Index"> Recognition Web</a>
                            <br />
                            <abbr title="Office Phone">
                                <i class="fa fa-phone"></i>
                            </abbr> 
                            210-207-7625
                            <br />
                            <abbr title="Mobile Phone">
                                <i class="fa fa-phone"></i>
                            </abbr> 
                            Unknown
                        </p>
                    </div>
                </div>

            </div>
        </div>

        @* <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="well well-sm">
                <div class="row">
                    <div class="col-sm-6 col-md-4">
                        <img src="~/Images/Male.png" alt="" class="img-rounded img-responsive" />
                    </div>
                    <div class="col-sm-6 col-md-8">
                        <h4 class="media-heading">
                            Sgt. Andrew Ling <small>SAPD</small></h4>
                        <h5>
                            <a href="#"> Quality Assurance (CQA)</a></h5>
                        <hr style="margin: 8px auto">
                        <p>
                            <i class="fa fa-envelope-o"></i> Andrew.Ling@sanantonio.gov
                            <br />
                            <i class="fa fa-globe"></i><a href="http://pdapps-web-d02/siaweb/Landing.aspx"> SOP Web</a>
                            <br />
                            <abbr title="Office Phone">
                                <i class="fa fa-phone"></i>
                            </abbr> 
                            210-207-7659
                            <br />
                            <abbr title="Mobile Phone">
                                <i class="fa fa-phone"></i>
                            </abbr> 
                            Unknown
                        </p>
                    </div>
                </div>

            </div>
        </div>*@




    </div>



</div>

