@model IEnumerable<RecognitionBusinessLayer.Recognize>
@{
    ViewBag.Title = "Recognition";
}

@{ Html.RenderPartial("_LandingHeader");}

<div>
    <div class="row">
        @{ 
            Html.RenderPartial("_LandingNavButtons");

            Html.RenderPartial("_Top10Officers");

            Html.RenderPartial("_LandingLastEntered");

        }
    </div>
    
</div>




