@model IEnumerable<RecognitionBusinessLayer.Recognize>
@{
    ViewBag.Title = "Recognition";
}

<div class="container">
    <div class="row">
        <div class="col-lg-2 col-lg-offset-1 col-md-4 col-sm-4 col-xs-12">
            <a style="width: 190px; border-color: #efa930" class="btn btn-lg btn-primary" href="~/Home/AwardView/?RecType=2">
                </i><span style="font-size: 0.9em">MERITS</span> </a>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-4 col-xs-12">
            <a style="width: 190px; border-color: #efa930" class="btn btn-lg btn-primary" href="~/Home/AwardView/?RecType=1">
                </i><span style="font-size: 0.9em">COMMENDATIONS</span> </a>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-4 col-xs-12">
            <a style="width: 190px; border-color: #efa930" class="btn btn-lg btn-primary" href="~/Home/AwardView/?RecType=5">
                </i><span style="font-size: 0.9em">OF THE MONTH</span> </a>
        </div>
    </div>
    <div class="row" style="margin-top: 30px">
        <div class="col-lg-2 col-lg-offset-1 col-md-4 col-sm-4 col-xs-12">
            <a style="width: 190px; border-color: #efa930" class="btn btn-lg btn-primary" href="~/Home/AwardView/?RecType=6">
                </i><span style="font-size: 0.9em">OAK FARMS</span> </a>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-4 col-xs-12">
            <a style="width: 190px; border-color: #efa930" class="btn btn-lg btn-primary" href="~/Home/AwardView/?RecType=4">
                </i><span style="font-size: 0.9em">LTR OF APPRECIATION</span> </a>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-4 col-xs-12">
            <a style="width: 190px; border-color: #efa930" class="btn btn-lg btn-primary" href="~/Home/AwardView/?RecType=7">
                </i><span style="font-size: 0.9em">ENC.O.R.E.</span> </a>
        </div>
    </div>
    <div class="row" style="margin-top: 30px">
         <div class="col-lg-2 col-lg-offset-3 col-md-4 col-sm-4 col-xs-12">
            <a style="width: 190px; border-color: #efa930" class="btn btn-lg btn-primary" href="~/Home/AwardView/?RecType=8">
                </i><span style="font-size: 0.9em">ANNUAL AWARDS</span> </a>
        </div>
        
    </div>
</div>


