<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!--<add name="SIAUserEntities" connectionString="metadata=res://*/SIAUserModel.csdl|res://*/SIAUserModel.ssdl|res://*/SIAUserModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\MSSQLLocalDB;initial catalog=SAPDActivity;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="SIAUserEntities" connectionString="metadata=res://*/SIAUserModel.csdl|res://*/SIAUserModel.ssdl|res://*/SIAUserModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=cadsqld01.cad.cosa\psgis1;Initial Catalog=SAPDActivity;persist security info=True;user id=sapdgis;password=samdev;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="SIAUserEntities" connectionString="metadata=res://*/SIAUserModel.csdl|res://*/SIAUserModel.ssdl|res://*/SIAUserModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=cadsqld01.cad.cosa\psgis1;initial catalog=SAPDActivity;persist security info=True;user id=sapdgis;password=samdev;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>