body 
{
	padding-top:15px;
	/*
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;*/
}

.customDiv
{
    margin:10px;
    min-height:50px;
    background-color:silver;
    text-align:center;
    font-size:large;
    padding:10px;
}
.jumbotron
{
	margin-left: 15px;
}