body 
{
	padding-top:15px;
	/*
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;*/
}

.customDiv
{
    margin:10px;
    min-height:50px;
    background-color:silver;
    text-align:center;
    font-size:large;
    padding:10px;
}

/*
.jumbotron
{
	margin-left: 15px;

}*/

.jumbotron {
    padding: 0.5em 0.6em;
    h1 {
        font-size: 2em;
    }
    p {
        font-size: 1.2em;
        .btn {
            padding: 0.5em;
        }
    }
}

.legend.scheduler-border {
    width:inherit; /* Or auto */
    padding:0 10px; /* To give a bit of padding on the left and right */
    border-bottom:none;
}
textarea {
    max-width: 600px;
}
.image_background
{
	text-align: center;
	width: 20px;
	height: 20px;
	margin-left: 12px;
	background-attachment: inherit;
}

input[type='checkbox'] {
    -webkit-appearance:none;
    width:22px;
    height:22px;
    background:white;
    border-radius:5px;
    border:1px solid #555;
}
input[type='checkbox']:checked {
    background: #abd;
}
