@{
    ViewBag.Title = "SIA Contact";
}

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="well well-sm">
                


                <div class="row">
                    <div class="col-sm-6 col-md-3">
                        <img src="~/Images/Male.png" alt="" class="img-rounded img-responsive" />
                    </div>
                    <div class="col-sm-6 col-md-9">
                        <h4 class="media-heading">
                            Jim Glass <small>SAPD</small></h4>
                        <h5>
                            SIA<a href="#"><small> Manager</small></a></h5>
                        <hr style="margin: 8px auto">
                        <p>
                            <i class="fa fa-envelope-o"></i>&nbsp;&nbsp; james.glass@sanantonio.gov
                            <br />
                            <i class="fa fa-globe"></i><a href="@Url.Action("Index", "Home")">
                                SAPD Web</a>
                            <br />
                            <abbr title="Office Phone">
                                <i class="fa fa-phone"></i>
                            </abbr>
                            (210) 207-8246
                            <br />
                            <abbr title="Mobile Phone">
                                <i class="fa fa-phone"></i>
                            </abbr>
                            (210) 865-6155
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="well well-sm">
                <div class="row">
                    <div class="col-sm-6 col-md-3">
                        <img src="~/Images/Male.png" alt="" class="img-rounded img-responsive" />
                    </div>
                    <div class="col-sm-6 col-md-9">
                        <h4 class="media-heading">
                            John Riojas <small>SAPD</small></h4>
                        <h5>
                            SIA <a href="#"><small>Senior Crime Intelligence Analyst</small> </a></h5>
                        <hr style="margin: 8px auto">
                        <p>
                            <i class="fa fa-envelope-o"></i>&nbsp;&nbsp; john.riojas@sanantonio.gov
                            <br />
                            <i class="fa fa-globe"></i><a href="@Url.Action("Index", "Home")">
                                SAPD Web</a>
                            <br />
                            <abbr title="Office Phone">
                                <i class="fa fa-phone"></i>
                            </abbr>
                            (210) 207-7539
                            <br />
                            <abbr title="Mobile Phone">
                                <i class="fa fa-phone"></i>
                            </abbr>
                            (210) 379-2973
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="row">
    </div>
</div>
