@model IEnumerable<SIAWeb.Models.GroupMembers>
@{
    Layout = "~/Views/Shared/_Alternate2.cshtml";
}

    <div class="well well-sm">
       <h5>@ViewBag.GroupName</h5></div>


@foreach (var item in Model)
{  
    @Html.Partial("_MemberContact", item)
}
