@{
    ViewBag.Title = "SIA Contact";
}

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="well well-sm">
                <div class="row">
                    <div class="col-sm-6 col-md-4">
                        <img src="~/Images/Male.png" alt="" class="img-rounded img-responsive" />
                    </div>
                    <div class="col-sm-6 col-md-8">
                        <h4 class="media-heading">
                            Jim Glass <small>SAPD</small></h4>
                        <h5>
                            Big Cheese at <a href="#">SIA</a></h5>
                        <hr style="margin: 8px auto">
                        <p>
                            <i class="glyphicon glyphicon-envelope"></i> james.glass@sanantonio.gov
                            <br />
                            <i class="glyphicon glyphicon-globe"></i><a href="http://pdapps-web-d02/siaweb/Landing.aspx">
                                SIA Web</a>
                            <br />
                            <abbr title="Office Phone">
                                <i class="glyphicon glyphicon-earphone"></i>
                            </abbr>
                            (210) 207-8246
                            <br />
                            <abbr title="Mobile Phone">
                                <i class="glyphicon glyphicon-earphone"></i>
                            </abbr>
                            (210) 865-6155
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="well well-sm">
                <div class="row">
                    <div class="col-sm-6 col-md-4">
                        <img src="~/Images/Male.png" alt="" class="img-rounded img-responsive" />
                    </div>
                    <div class="col-sm-6 col-md-8">
                        <h4 class="media-heading">
                            John Riojas <small>SAPD</small></h4>
                        <h5>
                            Little Cheese at <a href="#">SIA</a></h5>
                        <hr style="margin: 8px auto">
                        <p>
                            <i class="glyphicon glyphicon-envelope"></i> john.riojas@sanantonio.gov
                            <br />
                            <i class="glyphicon glyphicon-globe"></i><a href="http://pdapps-web-d02/siaweb/Landing.aspx">
                                SIA Web</a>
                            <br />
                            <abbr title="Office Phone">
                                <i class="glyphicon glyphicon-earphone"></i>
                            </abbr>
                            (210) 207-7539
                            <br />
                            <abbr title="Mobile Phone">
                                <i class="glyphicon glyphicon-earphone"></i>
                            </abbr>
                            (210) 379-2973
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="row">
    </div>
</div>
