@model IEnumerable<SIAWeb.Models.GroupMembers>
@{
    //ViewBag.Title = "SIA Contact";
    Layout = "~/Views/Shared/_Alternate2.cshtml";
}
<div class="well well-sm">Small Well</div>

@foreach (var item in Model)
{
    @Html.Partial("_MemberContact",item )
}
