<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Reporting_SystemEntities" connectionString="metadata=res://*/CADEntities.csdl|res://*/CADEntities.ssdl|res://*/CADEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=WPCADCOMRPTDB02;initial catalog=Reporting_System;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>