@model IEnumerable< SIAWeb.Models.PersonBasic>

@{
    //ViewBag.Title = "SelectPerson";
    Layout = "~/Views/Shared/_Alternate2.cshtml";
}

@*<h2>SelectPerson</h2>*@

@foreach (var item in Model)
{
    @Html.Partial("_PersonBasic",item )
}

@foreach (var workItem in ViewData["WorkProfile"] as List<SIAWeb.Models.PersonWorkProfile>)
    {
        @Html.Partial("_PersonWorkProfile", workItem)
    }


