@model System.Web.Mvc.HandleErrorInfo

@{
    string err = @Model.Exception.Message.ToString();
}
    
    @switch (err) 
    {
        case "An error occurred while updating the entries. See the inner exception for details.": 
            <h1 class="text-danger">Error:  You cannot delete this item due to Referential integrity in the database.<small>  Ask Doug!</small> </h1>
       break;
        case "dotnetfunda": 
            <p>dotnetfunda logo</p> 
       break;
        default: 
            <h1 class="text-danger">Error: @err </h1>
            break;
    }
    
    @Html.ActionLink("Back", @Model.ActionName, @Model.ControllerName, null, new{ @class="btn btn-warning btn-sm"})

