<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    
    <!--<add name="SAPDActivityEntities1" connectionString="metadata=res://*/AwardEntities.csdl|res://*/AwardEntities.ssdl|res://*/AwardEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=cadsqld01.cad.cosa\psgis1;initial catalog=SAPDActivity;persist security info=True;user id=sapdgis;password=samdev;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  <add name="SAPDActivityEntities" connectionString="metadata=res://*/RecognitionModel.csdl|res://*/RecognitionModel.ssdl|res://*/RecognitionModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=cadsqld01.cad.cosa\psgis1;Initial Catalog=SAPDActivity;Persist Security Info=True;User ID=sapdgis;Password=samdev;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>